{% extends 'base.html.twig' %}

{% block title %}Compromised password{% endblock %}

{% block body %}
    {#
        Our application does not have yet a "change password" page
        Feel free to implement it, and redirect user there instead of just showing a message.
    #}

    <div class="alert alert-danger">Your password was compromised in a data breach from another website. Please change it immediately.</div>
{% endblock %}
