{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <h1>Administration</h1>

    <ul class="mt-5">
        {% for blog in blogs %}
            <li><strong>{{ blog.name }}</strong> - <a href="{{ path('blog_view', {id: blog.id}) }}">View articles</a> - <a href="{{ path('blog_edit', {id: blog.id}) }}">Edit</a></li>
        {% endfor %}
    </ul>
{% endblock %}
