{% extends 'base.html.twig' %}

{% block title %}Edit {{ blog.name }}{% endblock %}

{% block content %}
    <h1>Edit {{ blog.name }}</h1>

    {{ form(form) }}

    <p><a href="{{ path('blog_view', {id: blog.id}) }}" class="btn btn-outline-primary">Cancel</a></p>
{% endblock %}
